
/*
* ----------------------------------
* 全屏幻灯片
* ----------------------------------
*/

@slide-fill-height: 350px;

.slide-fill {
  position: relative;
  width: 100%;
  height: @slide-fill-height;


  .slide-pic {
    position: relative;
    height: @slide-fill-height;
    li {
      display: none;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: @slide-fill-height;
      background-repeat: no-repeat;
      background-position: center top;
      a {
        display: block;
        height: @slide-fill-height;
      }
    }

    .cur {
      display: block;
      z-index: 1;
    }
  }

  .slide-num {
    position: relative;
    z-index: 999;
    left: 50%;
    margin-left: -100px;
    bottom: 30px;
    width: 200px;
    font-size: 0;
    text-align: center;
    -webkit-transition: all .3s;
    &:hover {
      -webkit-transform: scale(1.5);
    }
    li {
      margin: 5px;
      display: inline-block;
      width: 8px;
      height: 8px;
      border: 2px solid #fff;
      border-radius: 50%;
      //      background: #999;
      text-indent: -9999px;
      cursor: pointer;
    }

    .cur {
      border: 2px solid #f5422a;
      //      background-color: #fff;
    }
  }

  .arrow {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 999;
    top: 50%;
    margin-top: -40px;
    width: 50px;
    height: 80px;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease;
  }

  .arrow-left {
    left: 40px;
    background-image: url(../images/icon-arrow.png);
    background-position: 8px center;
  }

  .arrow-right {
    right: 40px;
    background-image: url(../images/icon-arrow.png);
    background-position: -70px center;
  }
}

.slide-fill-prevNext {
  &:hover {
    .arrow {
      visibility: visible;
      opacity: 1;
    }
    .arrow-left {
      -webkit-transform: translateX(-20px);
    }
    .arrow-right {
      -webkit-transform: translateX(20px);
    }
  }
}

